.generalButton {
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;

  cursor: pointer;

  font-size: 20px;
}

.active {
  background-color: var(--baby-blue-eyes);
  color: white;
}
