.header {
  position: fixed;

  height: 60px;
  width: 100%;

  color: var(--baby-blue-eyes);
  background-color: var(--secondary);

  padding: 20px;
}

.headerWrapper {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon path {
  fill: var(--baby-blue-eyes);
}

.wallet {
  cursor: pointer;
  margin-right: 100px;
}
