.header {
  position: fixed;

  height: 60px;
  width: 100%;

  color: var(--baby-blue-eyes);
  background-color: var(--secondary);

  padding: 20px;

  display: flex;
}

.icon path {
  fill: var(--baby-blue-eyes);
}

.wallet {
  position: absolute;
  right: 20px;
}
