.raceTitle {
  font-size: 40px;
  text-align: left;

  color: rgb(239, 255, 94);
  /* --rich-black-fogra-29: #011627ff;
  --red-pigment: #ff0022ff;
  --turquoise: #41ead4ff;
  --baby-powder: #fdfffcff;
  --medium-violet-red: #b91372ff; */
}

.widget {
  display: flex;
  justify-content: center;
}