.betIcon path {
  fill: var(--baby-blue-eyes);
}

.horseState {
  position: relative;
  cursor: pointer;
}

.betIcon {
  position: absolute;
  top: 0;
  left: 0;
}

.horseName {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.line {
  height: 20px;
  border-radius: 0 20px 20px 0;
}
