body {
  --raisin-black: #171a21ff;
  --cadet-grey: #919ea1ff;
  --shadow-blue: #7a93acff;
  --baby-blue-eyes: #92bceaff;
  --maximum-blue-purple: #afb3f7ff;

  margin: 0;
  font-family: "Bebas Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("static/fonts/DEXO.otf") format("OpenType");
 }